[provider_wireguard]
Type = WireGuard
Name = Wireguard VPN Tunnel
Host = 192.168.178.117
Domain = my.home.network
WireGuard.Address = 10.2.0.2/24
WireGuard.ListenPort = 47824
WireGuard.DNS = 10.2.0.1
WireGuard.PrivateKey = qKIj010hDdWSjQQyVCnEgthLXusBgm3I6HWrJUaJymc=
WireGuard.PublicKey = zzqUfWGIil6QxrAGz77HE5BGUEdD2PgHYnCg3CDKagE=
WireGuard.AllowedIPs = 0.0.0.0/0, ::/0
WireGuard.EndpointPort = 51820
